#!/bin/bash
set -e


FIRST_RULE=$(/sbin/iptables -S FORWARD | head -n 2 | tail -n 1)
if [ '-A FORWARD -j SHATHEL_FORWARD' != "$FIRST_RULE" ]; then
    echo "Old Rules:"
    /sbin/iptables -S FORWARD
    /sbin/iptables -D FORWARD -j SHATHEL_FORWARD || true
    /sbin/iptables -I FORWARD 1 -j SHATHEL_FORWARD
    echo "Restored SHATHEL_FORWARD rules"
fi

